
<!--Aplicarles estilos a todos los inputs, botones de acceso rapido que no sean textos sino botones -->

<ion-content [fullscreen]= "true" class="ion-padding">

    <div *ngIf="error">
      {{error}}
    </div>

    <img alt="icono" src="../../assets/icon/visualizador.jpg" style="width: 400px;"/> 
        
    <br>
    <form *ngIf="!spinner" #loginForm="ngForm" novalidate>
        <ion-list>
          <ion-item>
            <ion-input id="loginUser" shape="round" [(ngModel)]="login.email" name="email" type="email" #mail="ngModel" spellcheck="false"
              autocapitalize="off" required fill="outline" label="Mail" label-placement="floating">
            </ion-input> 
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="mail.valid || submitted === false">
              Por favor, ingrese su Correo Electrónico.
            </p>
          </ion-text>
          <ion-item>
            <ion-input id="loginPassword" shape="round" [(ngModel)]="pass" name="password" type="password" #password="ngModel" minlength=6 required fill="outline" label="Contraseña" label-placement="floating">
            </ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="!password.errors || submitted === false">
              La contraseña ingresada es muy corta.
            </p>
          </ion-text>
          <ion-text color="danger">
            <p [hidden]="!password.errors || submitted === false">
              Por favor, ingrese una contraseña.
            </p>
          </ion-text>
    
        </ion-list>
    
        <br>
        
        <ion-button 
        style="background-color: rgb(171, 249, 103);
        color: whitesmoke;
        height: 100px;
        font-size: xx-large;" 
        (click)="onLogin(loginForm)" 
        color="primary" 
        type="submit" expand="block" size="large" [disabled]="mostrarSpinner">Ingresar</ion-button>
          
        <ion-spinner name="crescent" *ngIf="mostrarSpinner" class="full-screen-spinner"></ion-spinner>

        <!-- <ion-list>
          <ion-item>
            <ion-select style="background-color: pink; height: 100px;" label="Seleccione un usuario" label-placement="fixed" placeholder="Login user">
              <ion-select-option value="admin" (click)="admin()">Admin</ion-select-option>
              <ion-select-option value="invitado" (click)="invitado()">Invitado</ion-select-option>
              <ion-select-option value="usuario" (click)="usuario()">Usuario</ion-select-option>
              <ion-select-option value="anonimo" (click)="anonimo()">Anonimo</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list> -->

        <ion-fab vertical="top" horizontal="top" slot="fixed">
          <ion-fab-button size="large">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="bottom">
            Admin
            <ion-card color="primary">
              <ion-icon name="person" (click)="admin()"></ion-icon>
            </ion-card>
            Invitado
            <ion-card color="primary">
              <ion-icon name="person" (click)="invitado()"></ion-icon>
            </ion-card>
            Usuario
            <ion-card color="primary">
              <ion-icon name="person" (click)="usuario()"></ion-icon>
            </ion-card>
            Anonimo
            <ion-card color="primary">
              <ion-icon name="person" (click)="anonimo()"></ion-icon>
            </ion-card>
            Tester
            <ion-card color="primary">
              <ion-icon name="person" (click)="tester()"></ion-icon>
            </ion-card>
          </ion-fab-list>
        </ion-fab>


    </form>

  
</ion-content>