
<!--Aplicarles estilos a todos los inputs, botones de acceso rapido que no sean textos sino botones -->

<ion-content [fullscreen]= "true" class="ion-padding">

  
    <!-- <div *ngIf="spinner">
      spinnerr
    </div> -->
    <div *ngIf="error">
      {{error}}
    </div>

    <div id="header">
      <div id="app-bar">
        <div id="logo">
          <img alt="icono" src="../../assets/icon/img-camara-IP-exterior.png"/>
        </div>
        <div></div>
      </div>
    </div>
    <br>
    <form *ngIf="!spinner" #loginForm="ngForm" novalidate>
      <div class="">

      </div>
        <ion-list>
          <ion-item>
            <ion-input shape="round" [(ngModel)]="login.email" name="email" type="email" #mail="ngModel" spellcheck="false"
              autocapitalize="off" required fill="outline" label="Mail" label-placement="floating">
            </ion-input> 
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="mail.valid || submitted === false" class="ion-padding-start">
              Por favor, ingrese su Correo Electrónico.
            </p>
          </ion-text>
          <ion-item>
            <ion-input shape="round" [(ngModel)]="pass" name="password" type="password" #password="ngModel" minlength=6 required fill="outline" label="Contraseña" label-placement="floating">
            </ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="!password.errors || submitted === false" class="ion-padding-start">
              La contraseña ingresada es muy corta.
            </p>
          </ion-text>
          <ion-text color="danger">
            <p [hidden]="!password.errors || submitted === false" class="ion-padding-start">
              Por favor, ingrese una contraseña.
            </p>
          </ion-text>
    
        </ion-list>
    
        <br>
        
        <ion-button (click)="onLogin(loginForm)" color="primary" type="submit" expand="block" size="large" [disabled]="mostrarSpinner">Ingresar</ion-button>
          
        <ion-spinner name="crescent" *ngIf="mostrarSpinner" class="full-screen-spinner"></ion-spinner>

        <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button size="large">
            <ion-icon name="share"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="bottom">
            Admin
            <ion-fab-button color="primary">
              <ion-icon name="person" (click)="admin()"></ion-icon>
            </ion-fab-button>
            Invitado
            <ion-fab-button color="primary">
              <ion-icon name="person" (click)="invitado()"></ion-icon>
            </ion-fab-button>
            Usuario
            <ion-fab-button color="primary">
              <ion-icon name="person" (click)="usuario()"></ion-icon>
            </ion-fab-button>
            Anonimo
            <ion-fab-button color="primary">
              <ion-icon name="person" (click)="anonimo()"></ion-icon>
            </ion-fab-button>
            Tester
            <ion-fab-button color="primary">
              <ion-icon name="person" (click)="tester()"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>


    </form>

  
</ion-content>