ion-tab-bar {
    --background: rgb(107, 9, 107); /* Cambiar el color de fondo a rojo */
    --color-selected: rgb(249, 249, 5);  /* Cambiar el color de texto a blanco para la pestaña seleccionada */
    --color: #f4f5f8 ; /* Cambiar el color de texto a blanco para las demás pestañas */
}