ion-tab-bar {
    --background: rgba(88, 84, 84, 0.663); /* Cambiar el color de fondo a rojo */
    --color-selected: #063755;  /* Cambiar el color de texto a blanco para la pestaña seleccionada */
    --color: #f4f5f8 ; /* Cambiar el color de texto a blanco para las demás pestañas */
}