.ion-button{
    height: 19rem;
}
.fondo{
    background-color: rgb(107, 9, 107);
}

ion-header{
    background-color: gray;
}

ion-toolbar{
    --background: rgb(107, 9, 107);
    color: aliceblue;
}
ion-content{
    --background: url('../../assets/images/floor.jpg');
}