.ion-button{
    height: 19rem;
}
.fondo{
    background-color: rgba(88, 84, 84, 0.663);
}

ion-header{
    background-color: gray;
}

ion-toolbar{
    --background: rgba(88, 84, 84, 0.663);
    color: aliceblue;
}
ion-content{
    --background: url('../../assets/images/floor.jpg');
}