ion-card-header{
    background-color: rgba(88, 84, 84, 0.663);
}
ion-card-title{
    color: aliceblue;
}
ion-toolbar{
    --background: rgb(107, 9, 107);
    color: aliceblue;
}

ion-header{
    background-color: rgba(88, 84, 84, 0.663);
}

ion-content{
    --background: url('../../assets/images/floor.jpg');
}

ion-card{
    background-color: rgba(88, 84, 84, 0.663);
}

ion-card-header{
    background-color: green;
}

ion-card-content{
    background-image: url('../../assets/images/floor.jpg');
}