<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Gráficos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- <div style="display: block;"> -->
    <!-- <canvas baseChart
      data="pieChartData"
      labels="pieChartLabels"
      chartType="pieChartType">
    </canvas> -->
  <!-- </div> -->
  <!-- <div style="display: block;">
    <canvas baseChart
      datasets="barChartData"
      labels="barChartLabels"
      options="barChartOptions"
      legend="barChartLegend"
      chartType="barChartType">
    </canvas>
  </div> -->
  <ion-card>
    <ion-card-header *ngIf="!uploading">
      <ion-card-title>Cosas Feas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- <canvas id="myChart" width="400" height="400"></canvas> -->
      <!-- (chartHover)="chartHovered($event)"
           (chartClick)="chartClicked($event)" -->
      <canvas
           baseChart
           id="myChart" 
           width="400"
           class="chart"
           data="barChartData"
           options="barChartOptions"
           type="barChartType"
           (chartClick)="chartClicked($event)">
     </canvas>
    </ion-card-content>
  </ion-card>
  <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">
    Update
  </button> -->
  <ion-card>
    <ion-card-header *ngIf="!uploading">
      <ion-card-title>Cosas Lindas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- <canvas id="pieChart" width="400" height="400"></canvas> -->
      <canvas baseChart 
          id="pieChart"
          width="400"
          class="chart"
          data="pieChartData"
          type="pieChartType"
          options="pieChartOptions"
          (chartClick)="chartClicked($event)">
       </canvas>
    </ion-card-content>
  </ion-card>
  <!-- <mat-divider style="margin: 1em 0"></mat-divider> -->
  <!-- <div class="button-row">
    <button mat-button mat-raised-button color="primary" (click)="toggleLegend()">
      Toggle Legend
    </button>
    <button mat-button mat-raised-button color="primary" (click)="changeLabels()">
      Change Labels
    </button>
    <button mat-button mat-raised-button color="primary" (click)="addSlice()">
      Add Slice
    </button>
    <button mat-button mat-raised-button color="primary" (click)="removeSlice()">
      Remove Slice
    </button>
    <button
      mat-button
      mat-raised-button
      color="primary"
      (click)="changeLegendPosition()"
    >
      Change Legend Position
    </button>
  </div> -->
  
    <!-- <div *ngFor="let foto of fotos" (click)="verImagen(foto)">
         Aquí puedes colocar tu gráfico o imagen 
      <img [src]="rutaFotoActual" alt="Foto" (click)="listaEdificios()">
    </div> -->
    <ng-container *ngIf="foto">
        <img [src]="foto.image">
    </ng-container>
    
</ion-content>
