ion-card-header{
    background-color: rgba(88, 84, 84, 0.663);
}
ion-card-title{
    color: aliceblue;
}
ion-toolbar{
    --background: rgba(88, 84, 84, 0.663);
    color: aliceblue;
}

ion-header{
    background-color: rgba(88, 84, 84, 0.663);
}

ion-content{
    background-color: #548bae;
}

ion-card{
    background-color: rgba(88, 84, 84, 0.663);
}

ion-card-header{
    background-color: #04395b;
}

ion-card-content{
    background-color: #78c4f4;
}