<!--
  Generated template for the SplashPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="fondo" style="background-image: url(../../assets/imgs/splash.png)">

  <br><br><br><br><br>
    <div class="row logo">
        <div id="square" class="flipOutX animated">         <div style="height: 150px; width: 150px;" >
            <img class="shake-slow" src="../../assets/icon/fotoicon.png">
        </div> 
      </div>

      
        </div>
   
   
   
   </ion-content>
