<!-- <ion-header [translucent]="true">
  <div id="idInicio">
    <ion-toolbar>
      <ion-title>
        Inicio
      </ion-title>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-row id="idRow">
      <ion-col text-center id="idButtonLogin">
        <ion-button href="/login" expand="block">Logueate</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content> -->

<ion-content class="ion-padding">
  
    
      <ion-button expand="block" class="classButton" (click)="Ingresar('lista-lindas')" >
         <ion-icon slot="start" [src]="'../../assets/imgs/Actions-ok-icon.png'">
         </ion-icon>
          <!-- <img src="../../assets/imgs/Actions-ok-icon.png" style="height: 128px; width: 128px;" alt=""> -->
        
         
      </ion-button>
      <ion-button expand="block" class="classButton" (click)="Ingresar('lista-feas')">
          <img src="../../assets/imgs/exit-icon.png" style="height: 128px; width: 128px;" alt="">
          
      </ion-button>
  <ul style="display: block;" class="list-inline">
   <li class=" list-inline-item col-12 col-p" style="padding: 1px; margin:0px;" >
         
       
   </li>

   <li class=" list-inline-item col-12 col-p" style="padding: 1px; margin:0px;" >
     
 </li>
 </ul>

</ion-content>


