#idForm{
    background-image: url(../../assets/Flamingo.jpg);
    padding: 118px 40px;
}

#idRow{
    background-image: url(../../assets/Flamingo.jpg);
    padding: 193px 40px;
}

#idColRow{
    background-color: rgb(237, 237, 110);
}